h1 {
    text-align: center;
}

div.field {
    padding-bottom: 5px;
}

div.field label {
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}

table.table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h4.error {
    color: red;
}